/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.877);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
}

.modal {
  background: rgb(0, 23, 85);
  width: 300px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 3, 85, 0.657);
  padding: 20px;
  position: relative;
  border: 2px solid #3665ff;
  animation: glow 2s infinite;
  
  
  
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 15px;
  color: white;
  cursor: pointer;

}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.modal-content{
  height: 200px;
  background: #000f41;
}

.modal-body h2 {
  margin-top: -15px;
}
.loginbutton{
  margin-top: 20px;
}


.check {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  appearance: none;
  background-color: #bbb;
  transition: all .3s;
  top: 6px;
  left: 2px;
 }
 
 .check::before {
  content: '';
  position: absolute;
  border: solid #fff;
  display: block;
  width: .3em;
  height: .6em;
  border-width: 0 .2em .2em 0;
  z-index: 1;
  opacity: 0;
  right: calc(50% - .3em);
  top: calc(50% - .6em);
  transform: rotate(0deg);
  transition: all .3s;
  transform-origin: center center;
  
 }
 
 .check:checked {
  animation: a .3s ease-in forwards;
  background-color: rgb(120, 190, 120);
  
 }
 
 .check:checked::before {
  opacity: 1;
  transform: rotate(405deg);
  
 }
 
 @keyframes a {
  0% {
   opacity: 1;
   transform: scale(1) rotateY(0deg);
  }
 
  50% {
   opacity: 0;
   transform: scale(.8) rotateY(180deg);
  }
 
  100% {
   opacity: 1;
   transform: scale(1) rotateY(360deg);
  }
 }
 .keepmelogin{
  font-weight:400;
  font-size: 15px;
  right: 60px;
  bottom: 12px;
 }


 .buttonLogin {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #000470;
  transition: all 0.2s ease;
  margin-top: 30px;
  font-weight: bold;
  width: 150px;
}

.buttonLogin:active {
  transform: scale(0.96);
}

.buttonLogin:before,
.buttonLogin:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.buttonLogin:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #2311aa 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #001d7d 20%, transparent 30%),
    radial-gradient(circle, #02008d 20%, transparent 20%),
    radial-gradient(circle, #2a69e8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #231885 15%, transparent 20%),
    radial-gradient(circle, #2a37e8 20%, transparent 20%),
    radial-gradient(circle, #2a6de8 20%, transparent 20%),
    radial-gradient(circle, #3a2ae8 20%, transparent 20%),
    radial-gradient(circle, #2a37e8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.buttonLogin:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #2a3de8 20%, transparent 20%),
    radial-gradient(circle, #2a76e8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #2a96e8 15%, transparent 20%),
    radial-gradient(circle, #2a2ae8 20%, transparent 20%),
    radial-gradient(circle, #402ae8 20%, transparent 20%),
    radial-gradient(circle, #2a2ae8 20%, transparent 20%),
    radial-gradient(circle, #2a63e8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/* TESING STARTS */

/* END OF TESTING */